<!DOCTYPE html>
<html lang="tr">
  <body>
    <div class="bolum"></div>
    <div class="resim">
      <div class="text">
        <h1>Türkiye<span>Rehberi</span></h1>
        <h4>
          Bu web sitesi Osman Kutlu tarafından Mezuniyet tezi için
          hazırlanmıştır.
        </h4>
      </div>
    </div>

    <div class="menu"><div class="container"></div></div>
    <div class="container">
      <div class="left">
        <div class="leftp">
         <iframe width="1250" height="800" src="https://www.youtube.com/embed/z7yqtW4Isec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <footer>
      <div class="container">
        <div class="column-25">
          <span class="line"><h2 class="title">Türkiye Rehberi Hakkında</h2></span>
          <span class="info">
            Türkiye rehberi ile en popüler şehirleri çabucak öğrenin.
            Şehirlerin bilmediğiniz güzel yerlerini keşfedin!
            Keşfettiğiniz yerleri bizimle paylaşın!
          </span>
        </div>
        <div class="column-25">
          <span class="line"><h2 class="title">Görüş ve Öneriler</h2></span>
          <span class="info">
            Görüş ve önerileriniz için osmanktl34@gmail.com adresine mail atmanız yeterlidir.
            Teşekkürler.      
          </span>
        </div>
     
      
      </div>
      <div class="clear"></div>
    </footer>
  </body>
</html>
